DF/1st_room_DF.zip
DF/01/001.mp3
DF/01/002.mp3
DF/01/003.mp3
DF/01/004.mp3
DF/01/005.mp3
DF/01/006.mp3
DF/01/011.mp3
DF/02/001.mp3
DF/02/002.mp3
DF/02/003.mp3
DF/03/001.mp3
DF/03/002.mp3
DF/03/003.mp3
DF/03/004.mp3
DF/03/005.mp3
DF/03/006.mp3
DF/03/007.mp3
DF/03/009.mp3
DF/03/010.mp3
DF/03/011.mp3
DF/03/012.mp3
DF/03/013.mp3
DF/03/014.mp3
DF/03/015.mp3
DF/03/104.mp3
DF/03/107.mp3
DF/03/110.mp3
DF/03/206.mp3
DF/03/209.mp3
DF/04/001.mp3
DF/04/002.mp3
DF/04/003.mp3
DF/04/004.mp3
DF/04/005.mp3
DF/04/006.mp3
DF/04/011.mp3
DF/04/012.mp3
DF/04/013.mp3
DF/04/014.mp3
DF/04/015.mp3
DF/04/016.mp3
DF/04/017.mp3
DF/05/001.mp3
DF/05/002.mp3
DF/05/003.mp3
DF/05/004.mp3
DF/05/005.mp3
DF/05/006.mp3
DF/05/007.mp3
DF/05/008.mp3
DF/05/009.mp3
DF/05/010.mp3
DF/05/011.mp3
DF/05/012.mp3
DF/05/013.mp3
DF/05/014.mp3
DF/05/015.mp3
DF/05/016.mp3
DF/05/017.mp3
DF/05/018.mp3
DF/05/019.mp3
DF/05/020.mp3
DF/05/021.mp3
DF/05/022.mp3
DF/05/023.mp3
DF/05/024.mp3
DF/05/025.mp3
DF/05/026.mp3
DF/05/027.mp3
DF/05/028.mp3
DF/05/029.mp3
DF/05/030.mp3
DF/05/031.mp3
DF/05/032.mp3
DF/05/033.mp3
DF/05/034.mp3
DF/05/035.mp3
DF/05/201.mp3
DF/05/202.mp3
DF/05/203.mp3
DF/05/204.mp3
DF/05/205.mp3
DF/05/206.mp3
DF/05/207.mp3
DF/05/208.mp3
DF/05/209.mp3
DF/05/210.mp3
DF/05/211.mp3
DF/05/212.mp3
DF/05/221.mp3
DF/05/222.mp3
DF/05/223.mp3
Sound/Activate castle protection_1.mp3
Sound/Activate castle protection_2.mp3
Sound/Activate castle protection.mp3
Sound/Activate_castle_protection_1_DE.mp3
Sound/Activate_castle_protection_2_DE.mp3
Sound/Activate_castle_protection_DE.mp3
Sound/beast.mp3
Sound/Click on books_1.mp3
Sound/Click on books_2.mp3
Sound/Click on books.mp3
Sound/Click_on_books_1_DE.mp3
Sound/Click_on_books_2_DE.mp3
Sound/Click_on_books_DE.mp3
Sound/Director reappears.mp3
Sound/Director_reappears_DE.mp3
Sound/Door knocker 1.mp3
Sound/Door knocker 2.mp3
Sound/Door_knocker_1_DE.mp3
Sound/Door_Knocker_2_DE.mp3
Sound/Fantastic beast 1.mp3
Sound/Fantastic beast 2.mp3
Sound/Fantastic_beast_1_DE.mp3
Sound/Fantastic_beast_2_DE.mp3
Sound/Fantastic_beast_hint_DE.mp3
Sound/Hand of Glory 1.mp3
Sound/Hand of Glory 2.mp3
Sound/Hand_of_glory_1_DE.mp3
Sound/Hand_of_glory_2_DE.mp3
Sound/Heed the gost message.mp3
Sound/Heed_the_ghost_s_message_DE.mp3
Sound/Intro_DE.mp3
Sound/Intro.mp3
Sound/Manifestation of predictions 1 peruvian dust.mp3
Sound/Manifestation of predictions 1.mp3
Sound/Manifestation of predictions 2 pixie wings.mp3
Sound/Manifestation of predictions 2.mp3
Sound/Manifestation of predictions 3 mana crystals .mp3
Sound/Manifestation of predictions 4 ground mandrake .mp3
Sound/Manifestation_of_predictions_1_DE.mp3
Sound/Manifestation_of_predictions_1_peruvian_dust_DE.mp3
Sound/Manifestation_of_predictions_2_DE.mp3
Sound/Manifestation_of_predictions_2_pixie_wings_DE.mp3
Sound/Manifestation_of_predictions_3_mana_crystals_DE.mp3
Sound/Manifestation_of_predictions_4_ground_mandrake_DE.mp3
Sound/Moss song.mp3
Sound/Outro_DE.mp3
Sound/outro.mp3
Sound/Release the gost_1.mp3
Sound/Release the gost_2.mp3
Sound/Release_the_Ghost_1_DE.mp3
Sound/Release_the_Ghost_2_DE.mp3
Sound/Talking moss 1.mp3
Sound/Talking moss 2.mp3
Sound/Talking_moss_1_DE.mp3
Sound/Talking_moss_2_DE.mp3
Sound/tapestry solved.mp3
Sound/Tapestry_1_DE.mp3
Sound/Tapestry_1.mp3
Sound/Tapestry_2_DE.mp3
Sound/Tapestry_2.mp3
Sound/Tapestry_main_hint_DE.mp3
Sound/Tapestry_solved_DE.mp3
Sound/Toad player 1.mp3
Sound/Toad player 2.mp3
Sound/Toad_player_1_DE.mp3
Sound/Toad_player_2_DE.mp3
Castle.png
plot_array.py
speed.py
DF/05/tapestry main hint (short).mp3
DF/05/tapestry main hint.mp3
